:root {
  --primary: #4f46e5;
  --bg: #f9fafb;
  --card: #ffffff;
  --text: #111827;
  --subtext: #6b7280;
  --border: #e5e7eb;
}

.dark {
  --primary: #6366f1;
  --bg: #0f172a;
  --card: #1e293b;
  --text: #f9fafb;
  --subtext: #94a3b8;
  --border: #334155;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background-color: var(--bg);
}

.card {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 14px;
  background-color: var(--card);
  width: 500px;
  padding: 45px;
}

.card h1{
  color: var(--text);
}
h1 span {
  color: var(--primary);
}

.subtext {
  color: var(--subtext);
  margin-bottom: 20px;
}

.generate-btn {
  background-color: var(--primary);
  border: none;
  padding: 8px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  opacity: 0.9;
}
button:active {
  transform: scale(0.9);
}
.divider {
  height: 1px;
  background-color: #94a3b8;
  margin: 20px 0;
}

.password-container {
  display: flex;
  gap: 20px;
}

.password {
  background: var(--bg);
  border: 1px solid var(--border);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--primary);
}

.clipboard {
  background: none;
  color: var(--primary);
  transition: 0.2s;
  cursor: pointer;
  border: none;
}

.clipboard:active {
  transform: scale(0.9);
}

.clipboard:hover {
  transform: scale(1.1);
}

#theme-switch {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: var(--card);
  cursor: pointer;
  transition: 0.2s ease;
}

#theme-switch svg:last-child{
  display: none;
}

.dark #theme-switch svg:first-child{
  display: none;
}

.dark #theme-switch svg:last-child{
  display: block;
}

#theme-switch svg{
  fill: var(--primary);
}

#theme-switch:hover{
  transform: rotate(20deg) scale(1.1);
}

body, .card, button, .password {
  transition: 
    background 0.3s ease, 
    color 0.3s ease, 
    border 0.3s ease;
}

#typed-words {
  border-right: 3px solid var(--primary);
  padding-right: 2px;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes blink {
  0%, 100% { border-color: transparent; }
  50% { border-color: var(--primary); }
}

#typed-words.blink {
  animation: blink 0.7s infinite;
}